@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* ================= BASE ================= */

body {
  font-family: "VT323", monospace;
  font-size: 25px;
  color: #fff;

  height: 100vh;

  overflow: hidden;
  /* desktop continua travado */
  overscroll-behavior: none;
}

/* ================= HEADER ================= */

#header {
  position: relative;
  z-index: 10;
}

/* ================= MAIN ================= */

.login-main {
  height: calc(100vh - 80px);
  /* 🔥 respeita header */
  margin-top: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 40px;
}

/* ================= TERMINAL ================= */

.terminal {
  width: 100%;
  height: 40dvh;

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px;

  background: rgba(0, 0, 0, 0.4);

  overflow: hidden;
}

/* ================= LOG ================= */

#log {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 6px;

  padding-bottom: 120px;

  scrollbar-width: none;
}

#log::-webkit-scrollbar {
  width: 0;
}

/* ================= INPUT ================= */

.input-line {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-top: 10px;
}

#input {
  min-width: 8px;
  white-space: pre;
}

/* ================= CURSOR ================= */

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

/* ================= MOBILE INPUT ================= */

#mobile-input {
  position: absolute;
  top: 0;
  left: 0;

  width: 1px;
  height: 1px;

  opacity: 0;
  pointer-events: none;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  body {
    overflow-y: auto;
    height: auto;
  }

  .login-main {
    min-height: calc(100vh - 80px);
    margin-top: 80px;

    padding: 0;

    display: flex;
    flex-direction: column;
  }

  .terminal {
    width: 100%;
    height: 45vh;

    border: none;
    padding: 16px;
  }

  #log {
    flex: 1;
    overflow-y: auto;

    font-size: 28px;

    padding-bottom: 120px;
  }

  .input-line {
    position: sticky;
    bottom: 0;

    background: #000;
    padding-top: 10px;

    font-size: 28px;
  }
}