/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f0f17;
  color: white;

  /* 🔥 ISSO AQUI É O QUE REMOVE O SCROLL */
  overflow: hidden;
}

/* ESPAÇO DO HEADER */
.login-main {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOX */
.login-box {
  width: 320px;
  background: #151522;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

/* LOGO AGORA CONTROLADA */
.login-box .logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #0f0f17;
  color: white;
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #6c5ce7;
  color: white;
  cursor: pointer;
}

/* TEXTO */
.small-text {
  margin-top: 15px;
  font-size: 0.85rem;
  color: #aaa;
}

.small-text a {
  color: #6c5ce7;
  text-decoration: none;
}

.google-btn {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.2s;
}

.google-btn:hover {
  opacity: 0.85;
}