* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0f0f17;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: #12121c;
  border-bottom: 1px solid #222;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  height: 34px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: #aaa;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

.login-btn {
  background: #6c5ce7;
  padding: 8px 18px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

/* MAIN */
main {
  padding: 60px;
}

.top-text {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5rem;
}

/* CENTRO */
.center-area {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.box {
  width: 360px;
  height: 480px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.option p {
  font-size: 1.2rem;
  color: #ccc;
}

.box:hover {
  transform: scale(1.03);
}

body.no-scroll {
  overflow: hidden;
}

body.scroll {
  overflow: auto;
}